@model GLMS.Website.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class='footer-tools'>
        <input type="submit" value="Change Password" class="button" id="submit" />
    </div>
}
