@model IEnumerable<GLMS.Models.TabModel>
@foreach(var tab in Model) {
    <li class="ui-state-default ui-corner-top 
        @if (tab.Active)
        { <text>ui-tabs-selected ui-state-active</text> }
        @if (tab.Disabled)
        { <text>ui-state-disabled</text> }">
        <a @if (tab.Id != null)
            { <text>id="tab-@tab.Id"</text> } 
            @if (!(tab.Disabled || tab.Active))
            { <text>href="@tab.Url"</text> }
            class="nav-tab promptForSave" >@tab.Name</a>
    </li>
}